<p id="notice"><%= notice %></p>

<h1>Vids</h1>

<table>
  <thead>
    <tr>
      <th>Video</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vids.each do |vid| %>
      <tr>
        <td><%= vid.video %></td>
        <td><%= vid.string %></td>
        <td><%= link_to 'Show', vid %></td>
        <td><%= link_to 'Edit', edit_vid_path(vid) %></td>
        <td><%= link_to 'Destroy', vid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vid', new_vid_path %>
