<p id="notice"><%= notice %></p>

<p>
  <strong>Video:</strong>
  <%= @vid.video %>
</p>

<p>
  <strong>String:</strong>
  <%= @vid.string %>
</p>

<%= link_to 'Edit', edit_vid_path(@vid) %> |
<%= link_to 'Back', vids_path %>
